# Data Science Tools and Ecosystem

## Author 
Oleksandra Drachova

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- RStudio
- Julia
- Python
- Scala

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. NumPy
4. Keras

| Data Science Tools | 
--- | 
Jupiter Notebook | 
RStudio | 
Apache Sparkle |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [15]:
# Insert a comment line before the expression to explain the operation e.g.  This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [18]:
#This will convert 200 minutes to hours by diving by 60


print(int(200/60))

3